.kg-width-wide {

}

.kg-width-full {

}

.ghost-content hr {
    @apply divider;
    @apply my-4;
    border: 0;
}

.ghost-content h2 {
    @apply text-6xl;
    @apply mb-2;
    font-weight: bold;
}

.ghost-content h2 strong {
    @apply text-primary;
}

.ghost-content h2 em {
    @apply text-secondary;
    font-style: normal;
}

.ghost-content h3 {
    @apply text-4xl;
    @apply mb-2;
    font-weight: bold;
}

.ghost-content h3 strong {
    @apply text-primary;
}

.ghost-content h3 em {
    @apply text-secondary;
    font-style: normal;
}

.ghost-content p {
    @apply text-xl;
}

.ghost-content iframe {
    @apply rounded-box;
    @apply my-4;
}