/* Lib - Local component imports
/* ---------------------------------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

.animated-border-box, .animated-border-box-glow {
    position: absolute;
    overflow: hidden; 
    z-index: 0;
  }

.animated-border-box-glow {
  overflow: hidden;
  filter: blur(20px);
}
  
.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(rgba(0,0,0,0), oklch(0.754611 0.18307 346.81244), rgba(0,0,0,0) 25%);
  animation: rotate 3s linear infinite;
}
  
.animated-border-box:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #292a2e;
  border-radius: 1.5rem;
}
  
@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}